@font-face {
    font-family: demo;
    src: url(./assets/fonts/static/HankenGrotesk-Bold.ttf);

  }
  /* <style>
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
  </style> */
/* Your Result
  76
  of 100

  Great
  You scored higher than 65% of the people who have taken these tests.
  
  Summary

  Reaction
  80 / 100

  Memory
  92 / 100

  Verbal
  61 / 100

  Visual
  72 / 100

  Continue */


  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  section{    
    max-width: 50%;
        
  }
 

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 8px 9px 8px #c5c1c1;
    border-radius: 20px;
    
    
}
.result{
    background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%) );
    border-radius:20px;
    text-align: center;
    padding: 40px;    
    
}
.summary{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}


.circle{
    background-image: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0)); 
    border-radius: 50%;    
    width: 150px;
    height: 150px;
    margin: 19px auto;
    display: grid;
    place-content: center;
}

h1{
    font-size:60px ;
    color:hsl(221, 100%, 96%) ;
}
span,h1,h2,p{
    color: hsl(221, 100%, 96%) ;
    font-family: demo;
}
.res{
    color: hsl(224, 30%, 89%);
}
.no{
    color: hsl(224, 30%, 60%);
    margin: -10px;
    font-size: 14px;
}

p{
    color: hsl(224, 30%, 70%);
    font-size: 13px;
    margin-top: 10px;
}

.summary_box{
    width: 90%;
    margin: 40px auto;
    
}
.icon-flex{
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    align-items: center;
    flex:1 1 0;
    margin: 15px auto;
    padding: 8px 10px;
    border-radius: 10px;
}

.inline-flex{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.reaction{
    color: hsl(0, 100%, 67%);
}

.memory{
    color:  hsl(39, 100%, 56%);
}
.verbal{
    color:  hsl(166, 100%, 37%);
}
.visual{
    color:   hsl(234, 85%, 45%);
}

.box{
    margin-bottom: 20px;
}


.icon-reaction{
    background-color: hsl(0, 100%, 97%);
}
.icon-memory{
    background-color: hsl(39, 100%, 97%);
}
.icon-verbal{
    background-color:  hsl(166, 100%, 97%);
}
.icon-visual{
    background-color:  hsl(234, 85%, 95%);
}

button{
    margin: 15px 0 0 0;
    padding:10px 20px;
    width: 100%;
    color: white;
    background-color: hsl(224, 30%, 27%);
    border-radius: 20px;
    font-family: demo;
    cursor: pointer;
}
h3,.primaryno{
color: black;
font-family: demo;
}

.secondaryno{
    color: hsl(224, 30%, 70%);
}

@media(max-width:1384px){
    body{
        position: relative;
    }
    section{    
        min-width: 100%;
        position: absolute;
        top:0;
      }
    .grid{
        display: grid;
        grid-template-columns: 1fr ;          
        
    }
    .result{    
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
}